
<launch>
    <node name="serial" pkg="lg" type="serial" output="screen"/>
    <node name="rangefinder" pkg="lg" type="rangefinder" output="screen"/>
    <node name="vector_incMatch" pkg="lg" type="vector_incMatch" output="screen"/>
    <node name="Maestro" pkg="lg" type="Maestro" output="screen"/>    
</launch>